<header>
  <span class = 'headtags' id = 'logo'>Logo</span>
  <input  type="text" placeholder="Search for products, brands and more" id = 'searchBox'><i class="fa fa-search" id ='searchIcon' aria-hidden="true"></i>

  <div class = 'headtags' *ngIf="!isLoggedIn" id = "login_Signup" data-toggle="modal" data-target="#myModal" (click) = loginTriggerFunc()> Login & Sigup</div>
  <div class="dropdown headtags" *ngIf="isLoggedIn" >
    <div class="bdropdown-toggle" data-toggle="dropdown">
      User Details
    </div>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink = 'Admin_Dashboard'>Admin Dashboard</a>
      <a class="dropdown-item" href="#">User Profile</a>
      <a class="dropdown-item" (click) = 'logout()'>Logout</a>
    </div>
  </div>
  <div class = 'headtags' id = 'more'>More</div>
  <div class = 'headtags' id = 'cart'><i class="fa fa-shopping-cart"></i>Cart</div>
  
</header>

<app-login-signup [trigger] = loginModalTrigger></app-login-signup>